/* This is for remove white spaces between divs */
#parent {
	font-size: 0;
}

.news-font-family {
	font-family: Arial, Helvetica, sans-serif;
}

/* 25% of the width of the screen for each grid */
/* Four columns */
.col-4 {
	background-color: #ffe;
	display: inline-table;
	font-size: 16px;
	height: auto;
	margin: 0;
	padding: 0.5% 0;
	position: relative;
	width: 25%;
}

/* Responsive rules */

@media (max-width: 480px) {

	.col-4 {
		display: block;
		width: 100%;
	}
}